.headers {
  width: 99vw;
  height: 5vw;
  font-size: 1vw;
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.083);
  background-color: rgba(0, 0, 0, 0.377);
}
.spacex {
  cursor: pointer;
  margin-left: 20vw;
  height: 5vw;
  width: 16vw;
}
.a {
  width: 45vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10vw;
}
a {
  color: rgba(254, 254, 254, 0.393);
  text-decoration: none;
}
a:hover {
  text-decoration: underline 1px;
  text-underline-offset: 8px;
}

@media only screen and (max-width: 390px) {
  .a {
    display: none;
  }
  .spacex{
  margin-left: 15vw;
  height: 15vw;
  width: 40vw;
  }
  .headers{

  height: 15vw;
  font-size: 1vw;
  }
}
